/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}




.header {
    background-color: #81C5FF;
    color: white;
    text-align: left;
    padding: 10px;
    border-radius: 15px 0 0 15px;
}



.filters {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.filters select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.subject-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
}

.subject-window,
.control-type-window {
    background-color: #81C5FF; 
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
}

.subject-window h2,
.control-type-window h2 {
    text-align: left; /* Изменено на выравнивание по левому краю */
    margin-bottom: 10px;
}

.data-table {
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.data-table table {
    width: auto;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #81C5FF;
    color: white;
}

/* Стили для заметок */
.data-table .notes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%;
}

/* Поле заметок */
.note-window {
    background-color: #81C5FF;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
}

.note-window h3 {
    text-align: center;
    margin-bottom: -40px;
}

.note-window textarea {
    width: 100%;
    height: 50px;
    resize: none;
    margin-top: 5px;
}

/* нижняя шапка ЛКП */
.footer {
    background-color: #81C5FF;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 15px 15px;
}

/* Добавляем стили для текстовых полей */
textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    height: 100px;
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Добавлено */
}

.data-table td:first-child {
    text-align: left;
    white-space: nowrap;
}

.hidden {
    display: none;
}

.data-table table {
    border-collapse: collapse;
    width: 100%; /* Чтобы таблица растягивалась на всю ширину */
}

.data-table th,
.data-table td {
    border: 1px solid #ddd; /* Линии сетки */
    padding: 8px;
    text-align: center; /* Центрирование текста */
}

.data-table th {
    background-color: #81C5FF;
    color: white;
}




.bg-FFE588 { background-color: #FFE588; }
.bg-AFEEEE { background-color: #AFEEEE; }
.bg-BADBAD { background-color: #BADBAD; }
.bg-CCCCFF { background-color: #CCCCFF; }
.bg-FFBCAD { background-color: #FFBCAD; }
.bg-E4717A { background-color: #E4717A; }
.bg-F5F5DC { background-color: #F5F5DC; }